---
import SideLayout from '../layouts/SideLayout.astro'
import PArticle from '../components/PArticle.astro'

import { Image } from 'astro:assets'
import background from '../assets/images/article_background.jpg'
// import one from '../assets/articles/1.webp'
// import two from '../assets/articles/2.webp'
// import three from '../assets/articles/3.webp'
// import four from '../assets/articles/4.webp'
// import five from '../assets/articles/5.webp'
// import six from '../assets/articles/6.webp'
// import seven from '../assets/articles/7.webp'
// import eight from '../assets/articles/8.webp'
// import nine from '../assets/articles/9.webp'
// import ten from '../assets/articles/10.webp'
// import eleven from '../assets/articles/11.webp'
// import twelve from '../assets/articles/12.webp'
// import thirteen from '../assets/articles/13.webp'
---

<script>
  const openWebsite = (url: any) => {
    window.open(url, '_blank')
  }

  // const one = document.getElementById('one')
  // one.addEventListener('click', () => {
  //   openWebsite('https://medium.com/illumination/dont-pay-the-ransom-ransomware-awareness-part-1-identification-230274406918')
  // })

  // const two = document.getElementById('two')
  // two.addEventListener('click', () => {
  //   openWebsite('https://medium.com/illumination/dont-pay-the-ransom-ransomware-awareness-part-2-prevention-cff967846330')
  // })

  // const three = document.getElementById('three')
  // three.addEventListener('click', () => {
  //   openWebsite('https://medium.com/illumination/dont-pay-the-ransom-ransomware-awareness-part-3-fixing-e248ed5bc43c')
  // })

  // const four = document.getElementById('four')
  // four.addEventListener('click', () => {
  //   openWebsite('https://medium.com/short-sweet-valuable/the-park-lights-up-605e04771272')
  // })

  // const five = document.getElementById('five')
  // five.addEventListener('click', () => {
  //   openWebsite('https://medium.com/long-sweet-valuable/5-helpful-free-to-use-websites-you-may-not-know-about-c8076f3da3ac')
  // })

  // const six = document.getElementById('six')
  // six.addEventListener('click', () => {
  //   openWebsite('https://medium.com/@patalcala/why-linux-is-best-for-most-people-48a14e414dc7')
  // })

  // const seven = document.getElementById('seven')
  // seven.addEventListener('click', () => {
  //   openWebsite('https://medium.com/the-shortform/noises-to-help-you-focus-4326184893c7')
  // })

  // const eight = document.getElementById('eight')
  // eight.addEventListener('click', () => {
  //   openWebsite('https://medium.com/short-sweet-valuable/little-things-that-make-us-smile-e98cbc5a396e')
  // })
</script>

<SideLayout title="Projects - Pat Alcala" pageDescription="Projects" pageTitle="My Projects">
  <div class="grid">
    <Image class="background" src={background} alt="Pat Alcala" id="image" quality={'low'} width={1280} />
    <!-- <div class="page-title">
      <span class="page-title--text">My Projects</span>
    </div> -->
  </div>
</SideLayout>

<style lang="sass">
  $title: #aeb6c2
  $sub-title: #8296b7

  .background
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    object-fit: cover
    z-index: -1
    opacity: 0.5
    mix-blend-mode: overlay
    pointer-events: none
</style>
