---

---

<script>
const counter = document.getElementById('counter')
const decrement = document.getElementById('decrement')
const increment = document.getElementById('increment')

decrement.addEventListener('click', () => {
  counter.innerHTML = (parseInt(counter.innerText) - 1).toString();
})
increment.addEventListener('click', () => {
  counter.innerHTML = (parseInt(counter.innerText) + 1).toString();
})
</script>

<div class="counterComponent">
  <span id="counter" class="counter">0</span>
  <button id="decrement" class="decrement">-</button>
  <button id="increment" class="increment">+</button>
</div>

<style lang="sass">
  .counter
    color: white
</style>