---
const { text } = Astro.props
---

<div>
  <button class="button">{text}</button>
</div>

<style lang="sass">
  $title: #aeb6c2
  $sub-title: #8296b7

  .button
    cursor: url('../assets/images/mouse2-32.webp') 0 0, auto
    padding: 0.5rem 1.4rem
    margin: 0 0 0 0.8rem
    font-family: Inter
    font-size: 1rem
    font-weight: 800
    border: 1px solid $title

    background-color: transparent
    border-radius: 5rem
    text-decoration: none
    color: $title
    transition: transform 0.3s ease-out
    box-shadow: 0 10px 20px rgba(41, 61, 92, 0.3)

    &:hover
      box-shadow: 0 10px 20px rgba(41, 61, 92, 0.9)
      transform: translateY(-5px)

    &:active
      transform: scale(0.9)
      box-shadow: 0 20px 4rem 40px rgba(41, 61, 92, 0.9)
</style>
