---

---

<html lang="en">
  <body class="layout">
    <slot/>
  </body>
</html>

<style lang="sass">
.layout
  background: #0a1930
  position: fixed
  top: 0
  left: 0
  width: 100vw
  width: 100svw
  height: 100vh
  height: 100svh
  overflow: auto
</style>
 