---
const { title, pageDescription, pageTitle } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon2.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content=`${pageDescription} of Patrick Alvin Alcala` />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script defer type="text/partytown" data-project="682d3f7f9756d54d9c487131" data-host="https://analytics.patalcala.com" data-port="3099" data-secure="true" src="https://cdn.jsdelivr.net/gh/litlyx/litlyx-js/browser/litlyx.js"></script>
  </head>

  <body class="layout">
    <div class="page-title">
      <span class="page-title--text">{pageTitle}</span>
    </div>

    <slot />
  </body>
</html>

<style lang="sass" is:global>
  $title: #aeb6c2
  $sub-title: #8296b7

  @font-face
    font-family: 'Inter'
    src: url('../assets/fonts/Inter.woff2')

  @font-face
    font-family: 'Open Sans'
    src: url('../assets/fonts/OpenSans-Bold.woff2')

  .page
    padding: 0.5rem 1rem

  .text
    color: #ffffff

  .layout
    background: #0a1930
    position: absolute
    top: 0
    left: 0
    width: 100vw
    width: 100svw
    height: 100vh
    height: 100svh
    overflow: auto
    cursor: url('../assets/images/mouse1.webp') 0 0, auto
    margin: 0

  .page-title
    width: 100%
    height: 10rem
    position: fixed
    // background-color: red

  .page-title--text
    font-family: 'Inter'
    font-size: 4.2rem
    font-weight: 900
    color: $title
    margin: 1rem 0 1rem 2rem

  @media screen and (max-width: 1024px)
    .page-title--text
      font-size: 2.8rem
      font-weight: 800
      margin: 1.4rem 0 0 0
      display: flex
      flex-direction: row
      justify-content: center
</style>
